extends ../layout

block content
    form(method='post', action='/teams', enctype='application/x-www-form-urlencoded')
        h1 Teams

        if (teams && teams.length)
            .inlineTable.teamTable
                table
                    tr
                        td Name
                        if isAdmin
                            td Löschen
                    each team in teams
                        tr
                            td #{team.country}
                            if isAdmin
                                td.deleteColumn
                                    a(href="teams/deleteTeam/#{team._id}") X

        if isAdmin
            .inlineTable.teamTable
                table
                    tr
                        td Name
                        td Speichern
                    tr
                        td.inputCell
                            input#name(name='name', value='')
                        td.saveCell
                            input(type='submit', value='Speichern')