doctype html
html
    head
        meta(charset='UTF-8')
        title='Football Bets'
        meta(name='robots', content='index, follow')
        meta(name='description', content=description)
        meta(name='author', content='Robert Brem')
        meta(name='keywords', content=keywords)

        link(href='/images/favicion.ico', type='image/x-icon', rel='shortcut icon')
        link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen')
        //script(language='javascript', type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
        script(language='javascript', type='text/javascript', src='/javascripts/jquery-latest.min.js')
        script(language='javascript', type='text/javascript', src='/javascripts/client.js')
    body
        .wrapper
            header.header
                if session.isLoggedIn
                    a(href='/user/logout') #{session.user} abmelden
                else
                    a(href='/user/login') Anmelden
                    a(href='/user/signup') Registriern
            if session.isLoggedIn
                nav.navigationUp
                    ul
                        li
                            a(href='/user') Benutzereinstellungen
                        li
                            a(href='/bets/1') Wetten
                        if isAdmin
                            li
                                a(href='/games/closeGames') Spiele schliessen
            .content
                block content
            nav.navigationLeft.aside
                ul
                    li
                        a(href="/teams") Teams
                    li
                        a(href="/games") Spiele
                    li
                        a(href="/user/highscores") Rangliste
            aside.aside.aside-right
                img(src='/images/superCam.jpg', alt='Cam Newton', title='Cam Newton')
            footer.footer
                p (c) - Robert Brem