extends ../layout

block content
    form(method='post', action='/bets/#{pageNumber}', enctype='application/x-www-form-urlencoded')
        h1 Wetten

        if bets && bets.length
            .inlineTable.betTable
                table
                    tr
                        td Spiel
                        td Quoten
                        td Erwartetes Resultat
                        td Spiel-Datum
                        td Einsatz
                        td Ertrag
                        td Löschen
                    each bet in bets
                        tr
                            if bet.game
                                if bet.game.teamA && bet.game.teamB
                                    td #{bet.game.teamA.country} vs #{bet.game.teamB.country}
                                else
                                    if bet.game.teamA
                                        td.errorCell Zweites Team wurde gelöscht
                                    else if bet.game.teamB
                                        td.errorCell Erstes Team wurde gelöscht
                                    else
                                        td.errorCell Beide Teams wurden gelöscht
                            else
                                td.errorCell Spiel wurde gelöscht
                            td.ratioColumn #{numeral(bet.ratioTeamA).format('0.00')} | #{numeral(bet.ratioTie).format('0.00')} | #{numeral(bet.ratioTeamB).format('0.00')}
                            if bet.tie
                                td Unentschieden
                            else if bet.winner
                                td #{bet.winner.country}
                            else
                                td.errorCell Siegerteam wurde gelöscht
                            td.dateColumn #{moment(bet.game.date).format("DD.MM.YYYY HH:mm")}
                            td.numberColumn #{bet.coins}
                                if bet.profit
                                    if bet.profit > 0
                                        td.numberColumn +#{bet.profit}
                                    else
                                        td.numberColumn #{bet.profit}
                                else
                                    td.numberColumn [ #{Math.ceil(bet.previewProfit)} ]
                            if bet.game && moment(bet.game.date).format("YYYYMMDDHHmm") > moment(now).format("YYYYMMDDHHmm")
                                td.deleteColumn
                                    a(href="/bets/deleteBet/#{bet._id}") X
                            else
                                td
        - var n = 1
        while n <= (pages)
            a(href="/bets/#{n}") |_#{n++}_
        span | 
        a(href="/bets/#{pageNumber}?refresh=true") aktualisieren

        if errors
            p #{errors}

        .inlineTable.betTable
            table
                tr
                    td Spiel
                    td Unentschieden
                    td Gewinner
                    td Einsatz
                    td Speichern
                tr
                    td.selectCell
                        select#game(name='game')
                            each game in games
                                if game.teamA && game.teamB && (moment(game.date).format("YYYYMMDDHHmm") > moment(now).format("YYYYMMDDHHmm"))
                                    option(value='#{game._id}') #{game.teamA.country} vs #{game.teamB.country}
                    td.selectCell
                        select(name='tie')
                            option(value='true') Unentschieden
                            option(value='falsch') Gewinner
                    td.selectCell.winner
                        if games && games.length
                            each game in games
                                if game.date > now
                                    select#winner(name='winner')
                                        option(value='#{game.teamA._id}') #{game.teamA.country}
                                        option(value='#{game.teamB._id}') #{game.teamB.country}
                                    - break
                    td.inputCell
                        input#coins(name='coins', value='15')
                    td.saveCell
                        input(type='submit', value='Speichern')