@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    color: #c9fff7;
    background-color: #000;
}

.wrapper {
    display: -webit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    flex: 1 100%;
}

.header {
    background-color: #000;
    text-align: right;
    height: 100px;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: left;
}

.header a {
    line-height: 12em; /* moves the text to the bottom of the header */
    padding-right: 15px;
    color: #c9fff7;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.footer {
    background-color: #000;
    padding: 20px 0;
}

.content {
    text-align: left;
    padding-left: 20px;
}

.navigationLeft {
    padding: 0;
    width: 150px;
    background-color: #000;
}

.navigationLeft ul li a {
    display: block;
    text-align: left;
    background: -o-linear-gradient(bottom, #040c16 5%, #0b1d35 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #040c16), color-stop(1, #0b1d35));
    background: -moz-linear-gradient(center top, #040c16 5%, #0b1d35 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040c16", endColorstr="#0b1d35");
    background: -o-linear-gradient(top, #040c16, #0b1d35);

    background-color: #040c16;
    border-bottom: 1px solid #0b1d35;
    border-top: 1px solid #040c16;
    border-left: 1px solid #0b1d35;
    border-right: 1px solid #040c16;
    color: #c9fff7;
    text-decoration: none;
    padding: 6px 20px;
}

.navigationLeft ul li a:hover {
    background: -o-linear-gradient(bottom, #0b1d35 5%, #040c16 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0b1d35), color-stop(1, #040c16));
    background: -moz-linear-gradient(center top, #0b1d35 5%, #040c16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b1d35", endColorstr="#040c16");
    background: -o-linear-gradient(top, #0b1d35, #040c16);

    background-color: #0b1d35;
    border-bottom: 1px solid #0b1d35;
    border-top: 1px solid #040c16;
    border-left: 1px solid #0b1d35;
    border-right: 1px solid #040c16;
    color: #FFF;
}

.navigationLeft ul li a.active,
.navigationLeft ul li a.active:hover {
    color: #FFF;
    background: -o-linear-gradient(bottom, #0b1d35 5%, #040c16 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0b1d35), color-stop(1, #040c16));
    background: -moz-linear-gradient(center top, #0b1d35 5%, #040c16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b1d35", endColorstr="#040c16");
    background: -o-linear-gradient(top, #0b1d35, #040c16);

    background-color: #0b1d35;
    border-bottom: 1px solid #0b1d35;
    border-top: 1px solid #040c16;
    border-left: 1px solid #0b1d35;
    border-right: 1px solid #040c16;
    font-weight: bold;
}

.aside-right {
    background-color: #000;
}

.aside-right img {
    width: 200px;
    padding: 0;
    margin: 0;
}

.navigationUp {
    padding: 0;
    background: -o-linear-gradient(bottom, #040c16 5%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #040c16), color-stop(1, #000000));
    background: -moz-linear-gradient(center top, #040c16 5%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040c16", endColorstr="#000000");
    background: -o-linear-gradient(top, #040c16, #000000);

    background-color: #040c16;
    border-bottom: 1px solid #0b1d35;
    border-top: 1px solid #000;
}

.navigationUp li {
    display: inline;
}

.navigationUp ul li a {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    padding: 6px 20px;
    text-align: center;
    background: -o-linear-gradient(bottom, #040c16 5%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #040c16), color-stop(1, #000000));
    background: -moz-linear-gradient(center top, #040c16 5%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040c16", endColorstr="#000000");
    background: -o-linear-gradient(top, #040c16, #000000);

    background-color: #040c16;
    border-left: 1px solid #000;
    border-right: 1px solid #040c16;
    color: #fff;
    text-decoration: none;
    left: 15px;
    line-height: 1.3em;
}

.navigationUp ul li a:hover {
    background: -o-linear-gradient(bottom, #000000 5%, #040c16 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #040c16));
    background: -moz-linear-gradient(center top, #000000 5%, #040c16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#040c16");
    background: -o-linear-gradient(top, #000000, #040c16);

    background-color: #000000;
    border-left: 1px solid #000;
    border-right: 1px solid #040c16;
    color: #c9fff7;
}

.navigationUp ul li a.active,
.navigationUp ul li a.active:hover {
    color: #c9fff7;
    background: -o-linear-gradient(bottom, #000000 5%, #040c16 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #040c16));
    background: -moz-linear-gradient(center top, #000000 5%, #040c16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#040c16");
    background: -o-linear-gradient(top, #000000, #040c16);

    background-color: #000000;
    border-left: 1px solid #000;
    border-right: 1px solid #040c16;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    text-align: left;
    color: #c9fff7;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #c9fff7;
}

a {
    font-weight: bold;
    text-transform: uppercase;
    color: #c9fff7;
    text-decoration: none;
}

.teamTable {
    max-width: 400px;
}

.loginTable {
    max-width: 400px;
}

.userTable {
    max-width: 400px;
}

.gameTable {
    max-width: 800px;
}

.createNewGameTable {
    max-width: 800px;
}

.closeGameTable {
    max-width: 800px;
}

.betTable {
    max-width: 800px;
}

.highscoreTable {
    max-width: 800px;
}

/* inlineTable */

.inlineTable {
    margin: 10px 0;
    padding: 0px;
    width: 100%;
    border: 1px solid #0b1d35;

    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;

    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;

    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.inlineTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.inlineTable .inputCell,
.inlineTable .saveCell,
.inlineTable .selectCell {
    padding: 0;
}

.inlineTable .errorCell {
    background-color: #ff9090;
}

.inlineTable .inputCell input,
.inlineTable .saveCell input,
.inlineTable .selectCell select {
    width: 100%;
    padding: 7px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.inlineTable .selectCell select {
    padding: 5px;
    min-width: 100px;
}

.inlineTable .saveCell input {
    background-color: #0b1d35;
    color: #d3e9ff;
    font-weight: bold;;
}

.inlineTable td.ratioColumn {
    width: 130px;
    text-align: center;
}

.inlineTable td.dateColumn {
    width: 120px;
    text-align: center;
}

.inlineTable td.deleteColumn {
    width: 20px;
    text-align: center;
    padding: 0;
    background-color: #0b1d35;
}

.inlineTable td.deleteColumn a {
    display: block;
    width: 100%;
}

.inlineTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.inlineTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.inlineTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.inlineTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inlineTable tr.gameClosed td {
    background-color: #99BBEE;
}

.inlineTable tr:hover td {
    background-color: #d3e9ff;
}

.inlineTable td {
    vertical-align: middle;

    background-color: #aad4ff;

    border: 1px solid #0b1d35;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    line-height: 2em;
    padding: 0 7px;
    color: #0b1d35;
}

.inlineTable td.numberColumn {
    text-align: right;
}

.inlineTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.inlineTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.inlineTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.inlineTable tr:first-child td {
    background: -o-linear-gradient(bottom, #0b1d35 5%, #040c16 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0b1d35), color-stop(1, #040c16));
    background: -moz-linear-gradient(center top, #0b1d35 5%, #040c16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b1d35", endColorstr="#040c16");
    background: -o-linear-gradient(top, #0b1d35, #040c16);

    background-color: #0b1d35;
    border: 0px solid #040c16;
    text-align: left;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #d3e9ff;
}

.inlineTable tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #040c16 5%, #0b1d35 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #040c16), color-stop(1, #0b1d35));
    background: -moz-linear-gradient(center top, #040c16 5%, #0b1d35 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040c16", endColorstr="#0b1d35");
    background: -o-linear-gradient(top, #040c16, #0b1d35);

    background-color: #040c16;
}

.inlineTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.inlineTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .content {
        flex: 2 60%;
    }

    .navigationLeft {
        order: 1;
    }

    .content {
        order: 2;
    }

    .aside-right {
        order: 3;
    }

    .footer {
        order: 4;
    }
}