table
    tr
        td Team 1
        td Team 2
        td Quoten
        td Datum
        td Stauts
        if isAdmin
            td Löschen
    each game in games
        mixin content
            if game.teamA
                td #{game.teamA.country}
            else
                td.errorCell Team wurde gelöscht
            if(game.teamB)
                td #{game.teamB.country}
            else
                td.errorCell Team wurde gelöscht
            td.ratioColumn #{numeral(game.ratioTeamA).format('0.00')} | #{numeral(game.ratioTie).format('0.00')} | #{numeral(game.ratioTeamB).format('0.00')}
            td.dateColumn #{moment(game.date).format("DD.MM.YYYY HH:mm")}
            if game.tie
                td Unentschieden
            else if game.winner
                td #{game.winner.country}
            else
                td offen
            if isAdmin
                td.deleteColumn
                    a(href="/games/deleteGame/#{game._id}") X

        if game.tie || game.winner
            tr(href='/games/gameDetails/#{game._id}').clickableRow.gameClosed
                mixin content
        else
            tr(href='/games/gameDetails/#{game._id}').clickableRow
                mixin content