extends ../layout

block content
    form(method='post', action='/games/closeGames', enctype='application/x-www-form-urlencoded')
        h1 Spiele schliessen

        if isAdmin && games && games.length
            .inlineTable.closeGameTable
                table
                    tr
                        td Team 1
                        td Team 2
                        td Datum
                        td Ergebnis
                    each game in games
                        tr
                            if(game.teamA)
                                td #{game.teamA.country}
                            else
                                td.errorCell Team wurde gelöscht
                            if(game.teamB)
                                td #{game.teamB.country}
                            else
                                td.errorCell Team wurde gelöscht
                            td.dateColumn #{moment(game.date).format("DD.MM.YYYY HH:mm")}
                            if game.tie
                                td Unentschieden
                            else if game.winner
                                td #{game.winner.country}
                            else
                                td.selectCell
                                    select(name='result#{game._id}')
                                        option(value='open') Offen
                                        option(value='tie') Unentschieden
                                        if(game.teamA)
                                            option(value='#{game.teamA._id}') #{game.teamA.country}
                                        else
                                            option(value='noTeam') Team wurde gelöscht
                                        if(game.teamB)
                                            option(value='#{game.teamB._id}') #{game.teamB.country}
                                        else
                                            option(value='noTeam') Team wurde gelöscht
                    tr
                        td(colspan='4').saveCell
                            input(type='submit', value='Speichern')
