extends ../layout

block content
    form(method='post', action='/games/gameDetails/#{game._id}', enctype='application/x-www-form-urlencoded')
        h1 Spiel am #{moment(game.date).format("DD.MM.YYYY HH:mm")} es ist jetzt #{moment(now).format("DD.MM.YYYY HH:mm")}

        if errors
            p #{errors}

        .inlineTable.gameTable
            table
                tr
                    td Quote #{game.teamA.country}
                    td Quote #{game.teamB.country}
                    td Quote Unentschieden
                    if loggedIn
                        td Verfügbarer Betrag
                tr
                    td #{winTeamARatio}
                    td #{winTeamBRatio}
                    td #{tieRatio}
                    if loggedIn
                        td #{user.coins}

        if userBets && userBets.length > 0
            .inlineTable.gameTable
                table
                    tr
                        td Resultat
                        td Einsatz
                        td Löschen

                        each bet in userBets
                            tr
                                if bet.tie
                                    td Unentschieden
                                else
                                    td #{bet.winner.country}
                                td.numberColumn #{bet.coins}
                                td.deleteColumn
                                    a(href="/bets/deleteBet/#{bet._id}") X

        if loggedIn && moment(game.date).format("YYYYMMDDHHmm") > moment(now).format("YYYYMMDDHHmm")
            .inlineTable.gameTable
                table
                    tr
                        td Unentschieden
                        td Gewinner
                        td Einsatz
                        td Speichern
                    tr
                        td.selectCell
                            select(name='tie')
                                option(value='true') Unentschieden
                                option(value='falsch') Gewinner
                        td.selectCell.winner
                            select#winner(name='winner')
                                option(value='#{game.teamA._id}') #{game.teamA.country}
                                option(value='#{game.teamB._id}') #{game.teamB.country}
                        td.inputCell
                            input#coins(name='coins', value='15')
                        td.saveCell
                            input(type='submit', value='Speichern')