extends ../layout

block content
    form(method='post', action='/games', enctype='application/x-www-form-urlencoded')
        h1 Spiele

        input(type='checkbox', onclick='updateGames()')
        | &nbsp; Zeige auch vergangene Spiele

        if games && games.length
            .inlineTable.gameTable
                include ./onlyOpenGames.jade


        if isAdmin
            .inlineTable.createNewGameTable
                table
                    tr
                        td Team 1
                        td Team 2
                        td Quote T1
                        td Quote T2
                        td Quote U
                        td Jahr
                        td Monat
                        td Tag
                        td Stunde
                        td Minute
                        td Speichern
                    tr
                        td.selectCell
                            select(name='team1')
                                each team in teams
                                    option(value='#{team._id}') #{team.country}
                        td.selectCell
                            select(name='team2')
                                each team in teams
                                    option(value='#{team._id}') #{team.country}
                        td.inputCell
                            input#year(name='ratioTeamA', value='3.2')
                        td.inputCell
                            input#year(name='ratioTeamB', value='2.7')
                        td.inputCell
                            input#year(name='ratioTie', value='2.5')
                        td.inputCell
                            input#year(name='year', value='2014')
                        td.inputCell
                            input#month(name='month', value='8')
                        td.inputCell
                            input#day(name='day', value='3')
                        td.inputCell
                            input#hour(name='hour', value='21')
                        td.inputCell
                            input#minute(name='minute', value='0')
                        td.saveCell
                            input(type='submit', value='Speichern')