extends ../layout

block content
    form(method='post', action='/user/changePassword', enctype='application/x-www-form-urlencoded')
        h1 User

        p#errors

        .inlineTable.userTable
            table
                tr
                    td(colspan='2') #{user.name}
                tr
                    td
                        label(for='pass') Neues Passwort
                    td.inputCell
                        input#pass(type='password', name='pass')
                tr
                    td
                        label(for='pass') Passwort bestätigen
                    td.inputCell
                        input#passConfirm(type='password', name='passConfirm')
                tr
                    td(colspan='2').saveCell
                        input#save(type='submit', value='Speichern')