extends ../layout

block content
    h1 Rangliste

    if users && users.length
        .inlineTable.highscoreTable
            table
                tr
                    td Name
                    td Punkte
                each user in users
                    tr(href='/user/otherUser/#{user._id}').clickableRow
                        td #{user.name}
                        td #{user.coins}