extends ../layout

block content
    form(method='post', action='/user/login', enctype='application/x-www-form-urlencoded')
        h1 Log in
        if invalid
            .error Please enter a valid email address and password.
        .inlineTable.loginTable
            table
                tr
                    td(colspan='2') Login
                tr
                    td Email
                    td.inputCell
                        input#email(name='email')
                tr
                    td Password
                    td.inputCell
                        input#pass(type='password', name='pass')
                tr
                    td(colspan='2').saveCell
                        input(type='submit', value='Log In')