extends ../layout

block content
    if user && correctBets && wrongBets
        h1 #{user.name } Punkte: #{user.coins}
    else
        h1 Benutzername unbekannt
    p Verhältnis Gewonnen/Verloren #{correctBets}/#{wrongBets} (#{numeral(correctBets/(correctBets + wrongBets)).format('0%')})

    if bets && bets.length
        .inlineTable.betTable
            table
                tr
                    td Spiel
                    td Erwartetes Resultat
                    td Spiel-Datum
                    td Einsatz
                    td Ertrag
                each bet in bets
                    if bet.game.date < now
                        tr
                            if bet.game
                                if bet.game.teamA && bet.game.teamB
                                    td #{bet.game.teamA.country} vs #{bet.game.teamB.country}
                                else
                                    if bet.game.teamA
                                        td.errorCell Zweites Team wurde gelöscht
                                    else if bet.game.teamB
                                        td.errorCell Erstes Team wurde gelöscht
                                    else
                                        td.errorCell Beide Teams wurden gelöscht
                            else
                                td.errorCell Spiel wurde gelöscht
                            if bet.tie
                                td Unentschieden
                            else if bet.winner
                                td #{bet.winner.country}
                            else
                                td.errorCell Siegerteam wurde gelöscht
                            td.dateColumn #{moment(bet.game.date).format("DD.MM.YYYY HH:mm")}
                            td.numberColumn #{bet.coins}
                                if bet.profit > 0
                                    td.numberColumn +#{bet.profit}
                                else
                                    td.numberColumn #{bet.profit}

    if errors
        p #{errors}
