extends ../layout

block content
    form(method='post', action='/user/signup', enctype='application/x-www-form-urlencoded')
        h1 Registrieren
        if exists
            .error
                | That user exists. Are you trying to
                a(href="/user/login") Login
                | ?
        if invalid
            .error Please enter a valid email address and password.
        .inlineTable.teamTable
            table
                tr
                    td(colspan='2') Registrieren
                tr
                    td Email
                    td.inputCell
                        input#email(name='email')
                tr
                    td Password
                    td.inputCell
                        input#pass(type='password', name='pass')
                tr
                    td(colspan='2').saveCell
                        input(type='submit', value='Registrieren')