extends ../layout

block content
    form(method='post', action='/user', enctype='application/x-www-form-urlencoded')
        h1 User

        p#errors

        .inlineTable.userTable
            table
                tr
                    td Bezeichnung
                    td Wert
                tr
                    td
                        label(for='name') Name
                    td.inputCell
                        input#name(name='name', value='#{user.name}')
                tr
                    td
                        label(for='email') Email
                    td.inputCell
                        input#email(name='email', value='#{user.email}')
                tr
                    td Muenzen
                    td #{user.coins}
                tr
                    td(colspan='2').saveCell
                        input#save(type='submit', value='Speichern')

        a(href='/user/changePassword') Passwort wechseln